p {
	font-size: xx-large;
}
nav {
	font color:black ;
}
.titre {
	margin-left: 100px;
	margin-top: 50px;
}
li {

}
a {
	color: black;
}
h1 {
	color:red;
}

.boutton {
	background-color: red;
	margin-top: 15px;
}
